<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336815113978-acms80ij8hp36kauetlenh4kgvmm7tjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336815113978-acms80ij8hp36kauetlenh4kgvmm7tjc</string>
	<key>API_KEY</key>
	<string>AIzaSyDfQOqrg0CcJifzyUDjEtlafEoYz5cPfSc</string>
	<key>GCM_SENDER_ID</key>
	<string>336815113978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Laura.TwitterLite</string>
	<key>PROJECT_ID</key>
	<string>tweetlite-ab6e4</string>
	<key>STORAGE_BUCKET</key>
	<string>tweetlite-ab6e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336815113978:ios:081c3a9d5c4db646e76b43</string>
	<key>DATABASE_URL</key>
	<string>https://tweetlite-ab6e4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>